/*---------------------------
    Global
----------------------------*/

/*
.nav__toggle {
  position: absolute;
  width: 2rem;
  height: 1rem;
  z-index: 10;
  right: 1rem;
  top: 2rem;
  transition:
    height .4s,
    top .4s;
}

.nav__toggle:before,
.nav__toggle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .3rem;
  background-color: @dark-grey;
  transform: rotate(0);
  transition:
    background-color .4s,
    transform .4s,
    top .4s,
    bottom .4s;
}

.nav__toggle:after {
  top: initial;
  bottom: 0;
}

.nav__toggle--expanded {
  top: 1rem;
  height: 2rem;
}

.nav__toggle--expanded:before,
.nav__toggle--expanded:after {
  top: 50%;
  bottom: initial;
  transform: rotate(45deg);
  background-color: #fff;
}

.nav__toggle--expanded:after {
  transform: rotate(-45deg);
}

.nav__list {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 0;
  margin: 0;
  padding: 12vh 0;
  background-color: rgba(74,74,74,0.99);
  list-style: none;
  opacity: 0;
  transition: all 0.4s;
}

.nav__list--expanded {
  top: 0;
  opacity: 1;
}

.nav__item {
  .navText;
  color: white;
  line-height: 6rem;
  text-align: center;
  transition: background-color .2s;
}

.nav__item--active 
  .nav__link {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav__item:hover {
  background-color: rgba(60,60,60,0.99);
}

.nav__link {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__toggle {
  position: absolute;
  width: 2rem;
  height: 1rem;
  z-index: 10;
  right: .5rem;
  top: 1rem;
  transition: height .4s, top .4s;
  color: black;
  cursor: pointer;
}
*/

.main-nav {
  position: absolute;
  width: 2rem;
  height: 1rem;
  z-index: 10;
  right: .5rem;
  top: 1rem;
  transition: height .4s, top .4s;
  color: black;
  cursor: pointer;
}

.main-nav::before, .main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .3rem;
  background-color: #3a3a3a;
  transform: rotate(0);
  transition: background-color 0.4s, transform 0.4s, top 0.4s, bottom 0.4s;
}

.main-nav::after {
  top: initial;
  bottom: 0;
}

.header {
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  margin: 0 .5rem;
}

.header__logo {
  height: 5rem;
  width: 5rem;
  background-image: url("../img/wewo_logo.png");
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 1rem auto 0px;
}


detail {
  display: block;
  padding: 0rem 0rem 2rem;
  margin: 0px 0.5rem;
  text-align: center;
}

time {
  display: block;
  border-bottom: 1px solid black;
  padding: 0.5rem 0px;
}

summary {
  display: block;
  font-style: italic;
  color: rgb(153, 153, 153);
  border-bottom: 1px solid black;
  padding: 0.5rem 0px;
}

article {
  margin: .5rem auto;
  padding: 0 .5rem;
  max-width: 34rem;
}

.article__image {
  margin: 2rem auto;
  width: 100%;
  max-width: 34rem;
}

aside {
  margin: .5rem auto;
  max-width: 34rem;
}

.aside__social {
  width: 100%;
  position: relative;
  margin: 3rem auto 2rem auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.aside-social__list {
  margin: 0 auto;
  display: block;
  width: 80%;
  position: relative;
}

.aside-social__item {
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
}

.aside-imprint p {
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

.aside-imprint__article {
  margin-bottom: 1rem;
}

.aside-imprint__title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

.aside-imprint__tags p {
  display: inline-block;
  margin: 0 .5rem .5rem 0;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
}

h2 {
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.17;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-style: italic;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem; letter-spacing: 0.4px;
}

/*---------------------------
    Landing Page
----------------------------*/

.top-stories {
  margin: .5rem auto;
  padding: 0 .5rem;
  max-width: 25rem;
}

.top-stories__header {
  border-bottom: 1px solid black;
  margin: 2rem 0 0 0;
  max-width: 25rem;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.story {
  background-color: #E2E2E2;
  max-width: 25rem;
  margin: 2rem 0 0 0;
}

.story a {
  text-decoration: none;
  color: black;
}

.story__date {
  font-variant-caps: all-small-caps;
  font-size: .8rem;
  line-height: 1.17;
  padding: 1rem 0 .25rem 1rem;
}

.story__image {
  margin: .5rem auto 1.5rem auto;
  width: 100%;
  max-width: 34rem;
}

h5 {
  font-variant-caps: all-small-caps;
  font-size: 1rem;
  line-height: 1.17;
}

h6 {
  font-variant-caps: all-small-caps;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.17;
  color: gray;
  margin: 1.25rem 0 1rem 0;
}

h7 {
  display: block;
  margin-bottom: .5rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.story__paragraph {
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  text-indent: 2rem;
}


/*---------------------------
    Media Queries
----------------------------*/

@media all and (min-width: 840px) {
  .top-stories {
    max-width: 52rem;
  }

  .story {
    margin: 2rem 0 0 0;
  }

  .story:nth-child(even) {
    margin: 2rem 0 0 2rem;
  }
}

@media all and (min-width: 400px) {
  .story__article {
    padding: 0 1rem;
  }
  
  .story__date {
    padding-left: 2rem;
  }

  .story__paragraph {
    text-indent: 3rem;
  }
}

