/*---------------------------
    Global
----------------------------*/

.main-nav {
  position: absolute;
  width: 2rem;
  height: 1rem;
  z-index: 10;
  right: 1rem;
  top: 1rem;
  transition: height .4s, top .4s;
  color: black;
  cursor: pointer;
}

.main-nav::before, .main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .3rem;
  background-color: #3a3a3a;
  transform: rotate(0);
  transition: background-color 0.4s, transform 0.4s, top 0.4s, bottom 0.4s;
}

.main-nav::after {
  top: initial;
  bottom: 0;
}

.header {
  width: 100vw;
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

.header__logo {
  height: 5rem;
  width: 5rem;
  background-image: url("../img/wewo_logo.png");
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 1rem auto 0px;
}


detail {
  display: block;
  padding: 0rem 0rem 2rem;
  margin: 0px 0.5rem;
  text-align: center;
}

time {
  display: block;
  border-bottom: 1px solid black;
  padding: 0.5rem 0px;
}

summary {
  display: block;
  font-style: italic;
  color: rgb(153, 153, 153);
  border-bottom: 1px solid black;
  padding: 0.5rem 0px;
}

article {
  margin: .5rem auto;
  padding: 0 .5rem;
  max-width: 34rem;
}

.article__image {
  margin: 2rem auto;
  width: 100%;
  max-width: 34rem;
}

aside {
  margin: .5rem auto;
  max-width: 34rem;
}

.aside__social {
  height: 3rem;
  margin: 3rem auto 2rem auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.aside-social__list {
  margin: 0 auto;
  display: inline-block;
}

.aside-social__item {
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
}

.aside-imprint p {
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

.aside-imprint__article {
  margin-bottom: 1rem;
}

.aside-imprint__title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

.aside-imprint__tags p {
  display: inline-block;
  margin-right: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.17;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-style: italic;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem; letter-spacing: 0.4px;
}

/*---------------------------
    Landing Page
----------------------------*/

top-stories__header {
  width: 100vw;
  border-top: 1px solid black;
  background-color: salmon;
}

h5 {
  font-variant-caps: all-small-caps;
  font-size: 1rem;
  line-height: 1.17;
}

/*---------------------------
    Media Queries
----------------------------*/

@media all and (min-width: 800px) {
}

