.main-nav {
  position: absolute;
  width: 2rem;
  height: 1rem;
  z-index: 10;
  right: 1rem;
  top: 1rem;
  -webkit-transition: height .4s, top .4s;
  transition: height .4s, top .4s;
  color: black;
  cursor: pointer;
}

.main-nav::before, .main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .3rem;
  background-color: #3a3a3a;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: background-color 0.4s, -webkit-transform 0.4s, top 0.4s, bottom 0.4s;
  transition: background-color 0.4s, transform 0.4s, top 0.4s, bottom 0.4s;
}

.main-nav::after {
  top: initial;
  bottom: 0;
}

header {
  width: 100vw;
  text-align: center;
  position: relative;
}

.logo {
  height: 5rem;
  width: 5rem;
  background-image: url("../img/wewo_logo.png");
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 1rem auto 0px;
}


detail {
  display: block;
  padding: 2.5rem 0px 2rem;
  margin: 0px 0.5rem;
}

time {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5rem 0px;
}

summary {
  display: block;
  font-style: italic;
  color: rgb(153, 153, 153);
  border-bottom: 1px solid black;
  padding: 0.5rem 0px;
}

article {
  margin: 0.5rem;
  max-width: 34rem;
}

h2 {
  font-style: italic;
  font-size: 2rem;
  line-height: 1.17;
}

h3 {
  margin: 1rem 0px;
  line-height: 1.4;
  font-style: italic;
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
}

